.welcome {
    text-align: center;
    margin: 100px;
}

.home-button-container {
    display: flex;
    justify-content: center;
}

.home-button {
    padding: 30px 80px;
    font-size: 1.5rem;
    margin: 0 10px;
    border: none;
    border-radius: 100px;
    background-color: #21284f;
    color: white;
    cursor: pointer;
}