body {
  margin: 0;
  font-family: Inter, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21284f;
  padding: 30px 30px;
  color: white;
}

header > h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 15px 25px;
  margin-left: 25px;
  background-color: #ffffff12;
  border-radius: 30px;
}

main {
  max-width: 80%;
  margin: 50px auto;
}

.search-header {
  display: flex;
  align-items: end;
}

.search-header > div {
  margin-right: 20px;
}

.field-container {
  width: 30%;
}

.search-header .field {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0px;
}

.search-header p {
  margin: 10px 0;
  font-size: 0.8rem;
}

.search-header button {
  padding: 12px 20px;
  background-color: #21284f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-items: end;
}

.table-container {
  margin-top: 35px;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container thead {
  background-color: #21284f;
}

.table-container th {
  color: white;
  padding: 10px 20px;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
}

.table-container tr {
  border-bottom: 1px solid #ccc;
}

.table-container td {
  max-width: 150px;
  padding: 8px 20px;
  text-align: left;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.small {
  max-width: 50px;
}

.rating-cell {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  width: 20px;
}

.rating {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(40, 213, 13, 0.743);
  width: 20px;
  height: 20px;
  border-radius: 14px;
}

table .checkbox {
  box-sizing: border-box;
  width: 10px;
  padding: 5px
}

td > div > p {
  margin: 3px 0;
  font-size: 0.7rem;
}

.table-companyname {
  font-weight: 600;
  font-size: 0.8rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.spinner {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.vat-cell {
  padding: 0;
  margin: 0;
}

.add-vat-btn {
  display: block;
  width: 40px;
  height: 100%;
  background-color: #2ecb53b8;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.add-vat-btn:hover {
  background-color: #29b242;
}